@page
<div class="container">
    <div class="row p-1">
        <div class="col-6">
            <ul id="bitcoin">bitcoin is 66446.23$</ul>
            <ul id="ethereum">ethereum is 3199.09$</ul>
            <ul id="litecoin">litecoin is 85.82$</ul>
            <ul id="monero">monero is 123.09$</ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/crypto.js"></script>
